<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta name="viewport" content="height=185"/>
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="gfx/jquery.js"></script>

    <script>

        var width = 2000;

        $(function() {

          width = 0;

          $( "div.section" ).each(function( index ) {
            width = width + $( this ).width();
          });

          width = width + 100;

          $('body').css('width', width + 'px');

        });

    </script>

</head>
<body>
  <div id="index">
    <div class="navigation">
      <ol>
        <% @descriptions.each do |section| %>
          <div class="section <%= section[0] %>">
            <a class="section <%= section[0] %>" href="covers/<%= section[0] %>.html"><span class="text"><%= section[1]['title'] %></span></a>
            <% @articles[section[0]].each do |article| %>
              <% if article['banner'] %>
                <a href="<%= article['path'] %>" style="background-image: url(images/<%= article['banner'] %>)" class="banner"><span class="text"><%= article['title'] %></span></a>
              <% else %>
                <a href="<%= article['path'] %>"><span class="text"><%= article['title'] %></span></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </ol>
    </div>
  </div>
</body>
